body {
  background-color: #343837;
  color: #fddc5c;
}

header {
  color: #fddc5c;
  width: 100px;
  padding: 25px;
  margin: 25px;
  border-left: 13px solid #fa4224;
  border-radius: 0px;
}

main {
  padding: 25px;
  margin: 25px;
  border-left: 13px solid #fa4224;
  border-radius: 0px;
}

footer {
  margin: 63px;
}
