* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 21px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

header {
    background-color: #588C94;
    color: white;
    text-align: center;
}

.intro {
    width: 500px;
    margin: 0 auto;
}

.my-skills {
    background-color: #1D3C41;
    color: white;
}

.columns {
    width: 750px;
    display: flex;
}

.column {
    margin: 5px;
}
